@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, button, input, #myFile {
    font-family: 'Onest', 'sans-serif';
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/spam.png);
    background-position: center;
    background-size: cover;
    padding: 100px;
    color: white;
    margin: 0 auto;
    margin-bottom: 15px;
    

}
#description {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    word-wrap: break-word;
    
}
.description-box {
    background-color: rgb(153, 213, 238);
    display: flex; 
    flex-direction: column; 
    width: 100%;  
    padding: 20px;  
    box-sizing: border-box; 
    margin-bottom: 15px;    

    
}
#encouragement{
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 195, 255);
    border-radius: 20px;
    text-decoration: none;
    align-self: center;
    margin: 15px;
    text-align: center;
}

#encouragement:hover{
    background-color: rgb(63, 161, 209);
}
#option-buttons {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 15px;
}
.nav-links a:hover{
    background-color: rgb(63, 161, 209);
}

.navbar {
    background-color: rgb(143, 238, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
.logo {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 100px;
    padding: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-links a{
    padding: 20px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 195, 255);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
#app-name {
    padding: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 150px;
    margin: 10px;
}
@media (max-width: 768px) {
    .navbar {
        gap: 10px;  
        flex-direction: column;  
        padding: 15px;
        align-items: center;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        display: flex;
        padding: 0px;
    }
    
    .nav-links {
        gap: 50px; 
        flex-direction: row;  
        width: 100%;
        align-self: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .nav-links a {
        width: 75%; 
        text-align: center;
    }
}