<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel = 'stylesheet' href="{{ url_for('static', filename='homepage.css') }}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">  
    <title>Watchtower</title>
</head>
<body>
    <h1>Welcome to Watchtower</h1>
    <div class = "description-box" style = 'align-items: center;'>
    <h2 id = 'header' style = 'text-align: center'>Hi User!</h2>
    <div class="stats-container">
    <div class="stat-card" style = 'text-align: center; background-color: white; border-radius: 15px; width: 200px; padding: 30px; display: flex;
  justify-content: center; flex-direction: column;'>
        <span class="stat-icon" style = 'font-size: 40px'>🎯</span>
        <h3 class="stat-number" style = 'font-size: 40px'>1</h3>
        <p class="stat-label">Spam Messages Reported</p>
    </div>
</div>
     <p id = 'description' style = 'padding: 10px'>Suspicious about a text? We've all been there. Watchtower's AI-powered spam detectors are here to help you identify spam messages with over 90% accuracy. See immediate results showing spam probability, category, and the specific words that trigger suspicion. Visit our Community Forum to see what spams other anonymous users have found.</p>
     <a id = 'encouragement' href = '/detector'>Try our spam detector now!</a>
    </div>
    


</body>
<script type="module" src="{{ url_for('static', filename='script.js') }}?v=2"></script>
<script type="module" src="{{ url_for('static', filename='firebase-config.js') }}"></script>
<script type = 'module' src="{{ url_for('static', filename='homepage.js') }}?v=2"></script>

</html>

