<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel = 'stylesheet' href="{{ url_for('static', filename='homepage.css') }}"> 
    <link rel = 'stylesheet' href="{{ url_for('static', filename='navbar.css') }}"> 
    <title>Watchtower</title>

</head>
<body>
    
    <h1>Welcome to Watchtower</h1>
    <div class = "description-box" style = 'align-items: center;'>
    <div class="stats-container" style = 'display: flex; flex-direction: row; gap: 10px;'>
    <div class="stat-card" style = 'text-align: center; background-color: white; border-radius: 15px; width: 200px; padding: 30px; display: flex;
  justify-content: center; flex-direction: column;'>
        <span class="stat-icon" style = 'font-size: 40px'>🔍</span>
        <h3 id="numTimes" style = 'font-size: 40px'>1</h3>
        <p class="stat-label">Scam Messages Reported</p>
    </div>
    <div class="stat-card" style = 'text-align: center; background-color: white; border-radius: 15px; width: 200px; padding: 30px; display: flex;
  justify-content: center; flex-direction: column;'>
        <span class="stat-icon" style = 'font-size: 40px'>🎯</span>
        <h3 class="stat-number" style = 'font-size: 40px'>95%</h3>
        <p class="stat-label">Accuracy</p>
    </div>
</div>
     <p id = 'description' style = 'padding: 10px'>Suspicious about a text? We've all been there. Watchtower's AI-powered scam detectors are here to help you identify scam messages with over 90% accuracy. See immediate results showing scam probability, category, and the specific words that trigger suspicion. Visit our Community Forum to see what scams other anonymous users have found.</p>
     <a id = 'encouragement' href = '/detector'>Try our scam detector now!</a>
    </div>
    
<div class = 'navbar'> 
        <div class = 'logo'>
            <img src = '/static/Logo.png'></img>
        </div>
        <div class = 'nav-links'>
        <a href = '/' class="tab {{ 'active' if active_tab == 'home' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
            <span>Home</span>
        </a>
        <a href = '/detector' class="tab {{ 'active' if active_tab == 'detector' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-alert-icon lucide-shield-alert"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="M12 8v4"/><path d="M12 16h.01"/></svg>
            <span>Detector</span>
        </a>
        <a href = '/forum' class="tab {{ 'active' if active_tab == 'forum' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rectangle-ellipsis-icon lucide-rectangle-ellipsis"><rect width="20" height="12" x="2" y="6" rx="2"/><path d="M12 12h.01"/><path d="M17 12h.01"/><path d="M7 12h.01"/></svg>
            <span>Forum</span>
        </a>

        </div>
    </div>

</body>
<script type="module" src="{{ url_for('static', filename='script.js') }}?v=2"></script>
<script type="module" src="{{ url_for('static', filename='firebase-config.js') }}"></script>
<script type = 'module' src="{{ url_for('static', filename='landingpage.js') }}?v=2"></script>
</html>

